<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Owners</title>
</head>
<body>
<!--/ *@thymeleafVar id="owner" type="dev.mouhieddine.springpetclinic.model.Owner" /-->
<h2>Owners</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 200px;">Firstname</th>
        <th style="width: 120px">Lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}"></td>
        <td th:text="${owner?.firstName}"></td>
        <td th:text="${owner?.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>